/* 
### Fonts
font-family: 'Barlow', sans-serif; 
font-family: 'Fraunces', serif;

### Primary Colors
- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)
*/

:root {
  --sunny-red: hsl(7, 99%, 70%);
  --sunny-yellow: hsl(51, 100%, 49%);
  --sunny-cyan: hsl(167, 40%, 24%);
  --sunny-blue: hsl(198, 62%, 26%);
  --sunny-moderate-cyan: hsl(168, 34%, 41%);

  --sunny-desaturated-blue: hsl(212, 27%, 19%);
  --sunny-verydarkgrayishblue: hsl(213, 9%, 39%);
  --sunny-dark-grayish-blue: hsl(232, 10%, 55%);
  --sunny-grayishblue: hsl(210, 4%, 67%);
  --sunny-light: hsl(0, 0%, 100%);

  --font-primary: "Barlow", sans-serif;
  --font-secondary: "Fraunces", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 900;
}

img {
  width: 100%;
}

.wrapper {
  display: flex;
}

.logo {
  font-size: 2rem;
  font-family: var(--font-secondary);
  text-transform: lowercase;
  font-weight: 900;
  color: var(--sunny-light);
}

#header-main {
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.nav-top {
  padding-top: 2rem;
  padding-inline: 4rem;
}

.nav-top .wrapper {
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-item {
}

.nav-link {
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--sunny-light);
}

.nav-link:hover {
  border-radius: 50px;
  background-color: #6fceff;
}

.banner-text {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 3rem;
  letter-spacing: 6px;
  font-weight: 900;
  color: var(--sunny-light);
  margin-top: 7rem;
}

.arrow-down {
  margin-left: 300px;
  display: block;
  margin-inline: auto;
  margin-top: 11rem;
  width: auto;
}

/* about styling */
.about-item {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-text-content {
  padding: 10rem;
}

.about-text-content > * {
  margin-bottom: 1.6rem;
}

.about-text-content h2 {
  font-size: 3rem;
  color: var(--sunny-desaturated-blue);
}

.about-text-content p {
  color: var(--sunny-grayishblue);

  font-size: 1.5rem;
  line-height: 1.25;
}

.about-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  color: var(--sunny-desaturated-blue);
}

.about-item a::after {
  content: "";
  width: 130px;
  display: block;
  position: relative;
  left: -12px;
  bottom: 5px;
  border-bottom: 0.5rem solid var(--sunny-yellow);
  padding-inline: 0.5rem;
  border-radius: 10px;
  /* visibility: hidden; */
}

.about-item a:hover::after {
  visibility: visible;
}

.about-row:first-of-type .about-item:last-of-type {
  background-image: url("../images/desktop/image-transform.jpg");
}

.about-row:nth-of-type(2) .about-item:first-of-type {
  background-image: url("../images/desktop/image-stand-out.jpg");
}

.about-row:last-of-type .about-item:first-of-type {
  background-image: url("../images/desktop/image-graphic-design.jpg");
}

.about-row:last-of-type .about-item:last-of-type {
  background-image: url("../images/desktop/image-photography.jpg");
}

.about-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.about-row:last-of-type {
  text-align: center;
}

.about-row:last-of-type .about-item h2 {
  font-size: 1.5rem;
}

.about-row:last-of-type .about-item p {
  font-size: 1rem;
  color: var(--sunny-blue);
}

.about-row:last-of-type .about-text-content {
  margin-top: 15rem;
}

/* ======Testimonial Section ====== */
.testimonial {
  padding: 10rem;
  text-align: center;
}

.testimonial h2 {
  color: var(--sunny-grayishblue);
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 4px;
}

.testimonial-item {
  padding: 4rem;
}

.testimonial-item > * {
  margin-bottom: 2rem;
}

.testimonial-item img {
  width: 100px;
  border-radius: 100%;
}

.testimonial-item h3 {
  color: var(--sunny-desaturated-blue);
}

.testimonial-item h3 span {
  color: var(--sunny-grayishblue);
  font-family: var(--font-primary);
  display: block;
  font-size: 0.9rem;
}

.testimony {
  color: var(--sunny-dark-grayish-blue);
}

/* ====== GALLERY SECTION ====== */
.gallery .wrapper {
  height: 500px;
}

.gallery-item {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.gallery-item:first-of-type {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}
.gallery-item:nth-of-type(2) {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
}
.gallery-item:nth-of-type(3) {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
}

.gallery-item:last-of-type {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}

/* ====== FOOTER MAIN ====== */
.footer-main {
  background-color: #90d4c5;
  padding-block: 2rem;
  height: 250px;
}

.footer-main .wrapper {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-main .logo {
  color: var(--sunny-cyan);
}

.nav-bottom .nav-link,
.social-list i {
  color: var(--sunny-cyan);
}

.nav-bottom .nav-link:hover,
.social-list i:hover {
  color: var(--sunny-light);
  background: none;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.social-list li {
  flex: 1;
  margin-inline: 1rem;
}

.social-list i {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .nav-top .wrapper {
    flex-direction: column;
  }

  .nav-list {
    margin-top: 20px;
  }

  .arrow-down {
    margin-top: 4rem;
  }

  .about-row {
    text-align: center;
  }

  .about-row .wrapper {
    flex-direction: column;
  }

  .about-row:nth-of-type(2) .about-item:first-of-type {
    order: 2;
  }

  .testimonial .wrapper {
    flex-direction: column;
  }

  .gallery .wrapper {
    flex-wrap: wrap;
  }

  .gallery-item {
    width: 50%;
    flex-shrink: 0;
  }

  .about-item a::after {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .nav-list {
    flex-direction: column;
  }

  .about-text-content {
    padding: 1rem;
  }

  .testimonial {
    padding: 1rem;
  }
}
